/************************************************************/
/** RESET CSS                                               */
/************************************************************/

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
html, body {
  /* height: 100%; */
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Poppins', 'Courier New', Courier, monospace; */
  font-size: 14px;
}
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}