---
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<div class="nav">
		<a class="icon button" href="/index.html">
      <span class="material-symbols-rounded blue">arrow_back</span><span>Retour</span>
    </a>
		<!-- <div class="user">
			<span class="label">Bienvenue Michel Durand</span>
			<button class="icon"><span class="material-symbols-rounded blue">person</span></button>
		</div> -->
	</div>

	<main>

		<!-- <fieldset class="sort">
			<legend>Regrouper les parcelles</legend>
			<div>
				<input type="radio" name="sort" id="station" checked>
				<label for="station">par station</label>
			</div>

			<div>
				<input type="radio" name="sort" id="farm">
				<label for="farm">par exploitation</label>
			</div>

		</fieldset> -->

		<!-- <div>Résultats du 22/11/2022</div> -->

		<h1>CGU</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quis in consectetur. Dicta corporis accusamus modi molestias sapiente repellendus amet, temporibus minima! Distinctio dignissimos recusandae dicta ad sunt, fuga quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda recusandae, sint itaque placeat ab debitis, ut veritatis, modi repellendus nostrum magnam est blanditiis praesentium similique illo. Neque, cumque eius?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda recusandae, sint itaque placeat ab debitis, ut veritatis, modi repellendus nostrum magnam est blanditiis praesentium similique illo. Neque, cumque eius?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda recusandae, sint itaque placeat ab debitis, ut veritatis, modi repellendus nostrum magnam est blanditiis praesentium similique illo. Neque, cumque eius?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda recusandae, sint itaque placeat ab debitis, ut veritatis, modi repellendus nostrum magnam est blanditiis praesentium similique illo. Neque, cumque eius?</p>
	</main>
</Layout>