<footer>
	<div class="links">
		<a href="">À propos</a>
		<a href="">CGU</a>
		<!-- <a href="" id="daltonisme">Mode daltonien</a> -->
	</div>

	<div class="logo">
		<img src="./images/GeofoliaOAD.svg" alt="">
	</div>
</footer>